<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Weibo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0CDC1BDE1EC2EDC700C56F45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CDC1BF21EC2EDC800C56F45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CDC1BFD1EC2EDC800C56F45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
